.header{
    height: 60vh;
    width:100vw;
    padding:5vh;
    background: url('https://wallpaperaccess.com/full/749799.jpg');
    background-position:fixed;
}
.upload{
    height: 100vh;
    width: 100vw;
    background: url('https://cdn.hipwallpaper.com/i/48/23/czZwyp.jpg');
    background-position:fixed;
    background-size: cover;
    position: relative;
}
.content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.content img{
    height:40vh;
    width:auto;
    border: 2px solid #000;
     }